@value makerLightGrey from '../../common/colors.css';
@value makerGrey from '../../common/colors.css';
@value makerOrange from '../../common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 32%;
  padding: 2em;
  box-shadow: 10px 10px 5px -4px rgba(143, 141, 141, 0.75);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(143, 141, 141, 0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(143, 141, 141, 0.75);
  background-color: makerOrange;
  border-radius: 10px;
}

.title {
  font-size: 1.5em;
  color: white;
}

.ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  list-style: none;
  padding: 0.5em;
}

.list {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 0.5em;
  border-radius: 10px;
}

.button {
  width: 100%;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: makerOrange;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
}
