@value makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 40%;
  margin: 1em 0 3em 0;
  border-right: 3px solid makerLightGrey;
}

.container {
  display: flex;
  justify-content: center;
  transform: translateY(2.5em);
}
