@value makerLightGrey from '../../common/colors.css';
@value makerGrey from '../../common/colors.css';
@value makerPink from '../../common/colors.css';
@value makerOrange from '../../common/colors.css';

@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.header {
  display: flex;
  padding: 2.5em;
  font-weight: bold;
  font-family: 'Spartan', sans-serif;
}

.title {
  font-size: 50px;
  color: makerOrange;
  width: 100%;
  margin: 0;
}

.logout {
  width: 5em;
  height: 3em;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: makerOrange;
  color: makerLightGrey;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 10px 5px 5px -4px rgba(143, 141, 141, 0.75);
  -webkit-box-shadow: 5px 5px 5px -4px rgba(143, 141, 141, 0.75);
  -moz-box-shadow: 5px 5px 5px -4px rgba(143, 141, 141, 0.75);
}
