@value makerPink from '../../common/colors.css';
@value makerOrange from '../../common/colors.css';

.preview {
  margin-top: 2em;
  flex-basis: 60%;
}

.container {
  align-items: center;
  width: 100%;
  height: 76.5vh;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.cards {
  padding-left: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
