@value makerOrange from '../../common/colors.css';
@value makerLightGrey from '../../common/colors.css';
@value makerPink from '../../common/colors.css';

button {
  background-color: transparent;
  background-repeat: no-repeat;
  outline: 0;
  border: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  background-repeat: no-repeat;
  outline: 0;
  border: 0;
}

select {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1.5em;
  margin: 0 2em 1em 2em;
  list-style: none;
  min-width: 55%;
}

.card.dark {
  background-color: black;
  color: makerOrange;
}

.card.light {
  background-color: white;
  color: makerOrange;
}

.card.colorful {
  background-color: makerOrange;
  color: white;
}

.info {
  width: 100%;
  margin-right: 1em;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.secondContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.select {
  display: block;
}

.company,
.email,
.message {
  font-size: 0.85em;
}

.avatar {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.card.colorful input,
.card.colorful select {
  color: white;
}

.card.dark input,
.card.dark select,
.card.light input,
.card.light select {
  color: makerOrange;
}

.button {
  display: flex;
  align-self: flex-start;
}

.checkBtn {
  color: makerPink;
}
